#stay_time .station_info {
  text-align: center;
  border: none;
  background-color: #F3F3F3;
  color: black;
  font-size: 8px;
  margin: 8px 4px;
  width: 72px;
  height: auto;
  border-radius: 5px;
}

#stay_time .stay_tooltip {
  border: none;
  text-align: center;
  background-color: #F3F3F3;
  color: black;
  font-size: 8px;
  margin: 8px 4px;
  width: 72px;
  height: auto;
  border-radius: 5px;
}

#stay_time .vertical_line {
  position: absolute;
  z-index: 3;
  width: 1px;
  background: black;
}

#stay_time .stay_button {
  color: black;
  font-size: 8px;
  margin: 8px 4px;
  width: 72px;
  height: 25px;
  border-radius: 5px;
}

/*#area {*/
  /*fill: #736555;*/
  /*fill-opacity: 0.5;*/
  /*stroke: #736555;*/
/*}*/